
<header><a id="back" href="#/list">Retour</a></header>
<section id="details" ng-model="medicaments">
  <h1>{{medicaments[whichItem].name}}</h1>
  <h4>Présentation</h4>
  <p>{{medicaments[whichItem].about}}</p>
  <h4>Composition</h4>
  <p>{{medicaments[whichItem].composition}}</p>
  <h4>Prix</h4>
  <p>{{medicaments[whichItem].price}}</p>
  <h4>Distributeur ou fabriquant</h4>
  <p>{{medicaments[whichItem].fab}}</p>
  <h4>Famille</h4>
  <p>{{medicaments[whichItem].famille}}</p>
  <h4>Code à barre</h4>
  <p>{{medicaments[whichItem].code}}</p>
  <h4>Princeps</h4>
  <p>{{medicaments[whichItem].princeps}}</p>
</section>