
<header><img id="logo" src="../images/logo.png"/>
  <input type="text" placeholder="nom du medicament" ng-model="query" autofocus="autofocus"/>
</header>
<section id="view">
  <ul ng-controller="ListNames">
    <li ng-repeat="item in medicaments | filter: query | limitTo:10 "><a href="#/details/{{medicaments.indexOf(item)}}">{{item.name}}</a></li>
  </ul>
</section>