 /*reset */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #37ACC9;
  background-color: #D7EEF4;
  margin: auto;
  padding-top: 200px;
  overflow-wrap: break-word;
}
img {
  border: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;

}
/*sytling*/

input{
  display: block;
  background-color: #D7EEF4;
  border-radius: 35px;
  font-size: 25px;
  border: none;
  width: 80%;
  margin: auto;
  color: #37ACC9;
  padding: 16px;
}
input:focus,input:active{
  border: none;
  outline:none;
}
ul>li{
  display: block;
  list-style-type: none;
  /*background-color: #D7EEF4;*/
  line-height: 2em;
  font-size: 16px;
  border-bottom: 7px solid;
  overflow-wrap: break-word;
}
li>a{
  display: block;
  padding: 16px;
}
#logo{
  display: block;
  margin: auto;
  width: 250px;
}

/*vertical padding*/
header {
  padding-top: 20px;
  position: fixed;
  background-color: #37ACC9;
  width:100%;
  top:0;
}
input, #logo{
  margin-top: 20px;
  margin-bottom: 20px;
}
#back{
display: block;
 background-color: #D7EEF4;
 color: #37ACC9;
 padding: 10px;
 border-radius: 20px;
 width: 70px;
text-align: center;
margin-bottom: 20px;
margin-left: 10px;
 }
 #details {
  margin-top: -100px;
  padding-left: 10px;
  padding-right: 10px;
 }
 #details h1 , #details h4 {
  color: #1C5765;
 }
 #details h1 {
  line-height: 2em;
 }
 #details h4 , #details p {
  padding-left: 7px;
 }
 #details p {
  margin-bottom: 10px;
 }